

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <form action="/a" method="POST" >
    <!-- <form> -->
      <fieldset style="width: 30%" >
        <div style="background-color: blue;">


          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
            
          </div>
          <br>
          <br>
        
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="exampleInputPassword1">
        </div>
        <br>
          <br>   
        
         <button  style="background-color: aqua;" type="submit" class="btn btn-primary">Submit</button>
         <!-- <button type="button" class="btn btn-success">Submit</button> -->

         
         
        </fieldset>
      </div>
      </form>
    
</body>
</html>